SECRET_KEY=change-me

MYSQL_HOST=acela.proxy.rlwy.net
MYSQL_PORT=46597
MYSQL_USER=root
MYSQL_PASSWORD=ciLdFTgLtQaYKZlXeznKIaBcfvTyGPJF
MYSQL_DB=railway

# Optionnel : sécuriser /api/ingest
API_KEY=change-me-too

# Optionnel : météo (Open-Meteo)
MINE_LAT=48.8566
MINE_LON=2.3522

# Optionnel : mail (si absent => simulation console)
SMTP_HOST=
SMTP_PORT=587
SMTP_USER=
SMTP_PASSWORD=
SMTP_FROM=
SMTP_TO=

# HTTPS seulement (sinon laissez 0 en dev local)
SESSION_COOKIE_SECURE=0

